@model Web.Models.MenuModel

@{
    ViewBag.Title = "AddMenu";
}

@*<h2>AddMenu</h2>


@using (Html.BeginForm("AddMenu", "Home")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>MenuModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            
            <div class="col-md-10">
                @Html.HiddenFor(model => model.KetteringId, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}*@

<div class="form">
    <h1>Add menu</h1>

    <form action="/Home/AddMenu" method="post">

        <input type="hidden" value="@Model.KetteringId" name="KetteringId" />

        <div class="field-wrap">
            <label>
                Name<span class="req">*</span>
            </label>
            <input type="text" required autocomplete="off" name="Name" />
        </div>

        <button class="button button-block" />Create</button>

    </form>
</div>