@model IEnumerable<Web.Models.MenuModel>

@{
    ViewBag.Title = "Menus";
}

@*<h2>Menus</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-row" id="@item.MenuId">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>*@

<style>
    .white {
        color: white;
    }
    .big {
        font-size: 200%
    }
</style>

<div class="form">
    <h1>Available menus</h1>
    <hr />

    @foreach (var item in Model)
    {
        <div class="white text-center ">
            <span class="big">@item.Name</span>
            <button class="table-row button button-block" id="@item.MenuId">Open</button>
        </div>
        <hr />
    }
</div>


