@model Web.Models.MenuModel

@{
    ViewBag.Title = "AddMenu";
}

<h2>AddMenu</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>MenuModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.KetteringId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KetteringId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KetteringId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
	
	<div class="row">
    <div class="col-md-5">
        <img src="https://static01.nyt.com/images/2015/10/15/dining/15RECIPE20DIN/15RECIPE20DIN-master675.jpg" />
        <input id="mealImage" type="image">
    </div>
    <div class="col-md-7">
        <input class="single-line" id="mealTitle" name="MealTitle" type="text" value="">
        <input class="" id="mealDescription" name="MealDescription" type="text" value="">
        <input class="" id="mealQuantity" name="MealQuantity" type="number" value="">
        <select id="mealCategorySelect">
            <option>Salad</option>
            <option>Sandwich</option>
        </select>
    </div>
</div>

<div class="row">
    <button type="button" class="btn btn-primary">Submit Menu</button>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
