@model IEnumerable<Web.Models.CompanyModel>
@using Web.Models;

@{
    ViewBag.Title = "Index";
}

@*<style>
        .kettering {
            background-color: yellow;
        }
    </style>

    @if (Model.Any())
    {
    <h2>Your companies</h2> <a href="#" data-toggle="modal" data-target="#create-company-modal" class="btn btn-primary glyphicon glyphicon-plus"></a>

        <div class="row">
            @foreach (var item in Model)
            {
            <div id="@item.CompanyId" class="col-md-6 card card-block table-row @if (item.IsKettering) { <text>kettering</text> }">
                <h4 class="card-title">@item.Name</h4>
                <p class="card-text">@item.Description</p>
                <p class="card-text">@item.Address</p>
                <p class="card-text">@item.Phone</p>
            </div>
            }
        </div>
    }
    else
    {
        <div class="row">
            <div>You don't belong to any companies yet</div>
        </div>
        <div class="row">
            <a href="#" data-toggle="modal" data-target="#create-company-modal" class="btn btn-lg btn-primary col-md-12">Create your own company</a>
        </div>
    }*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sign-Up/Login Form</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="~/Plugins/sign-up-login-form/css/normalize.css">

    <link rel="stylesheet" href="~/Plugins/sign-up-login-form/css/style.css">
    <style>
        input {
            max-width: 100%;
        }

        .form {
            top: 50%;
        }

        .white {
            color: white;
        }

        span {
            padding: 0;
            margin: 0;
        }

        * {
            font-family: Titillium;
        }
        .info {
            margin-top: 5%;
            margin-bottom: 5%;
        }
        .title {
            margin-bottom: 0;
        }
    </style>


</head>
<body>
    @if (Model.Any())
            {
        <div class="form">
            <h1 class="title">Your companies</h1>
        </div>

        foreach (var item in Model)
        {
            <div class="form ribbon-content">
                @if (item.IsKettering)
                { <div class="ribbon base"><span>Kettering Company</span></div> }
                <div class="text-center white">
                    <h2 class="text-center">@item.Name</h2>
                    <div class="info">
                        <span>Address:&nbsp;</span><span>@item.Address</span><br />
                        <span>Phone:&nbsp;</span><span>@item.Phone</span><br />
                        <span>Description:&nbsp;</span><span>@item.Description</span><br />
                    </div>
                    <button class="button button-block company-btn @if (item.IsKettering) { <text>kettering</text> } " id="@item.CompanyId">Open</button>
                </div>
            </div>
        }
    }
    else
    {
        <div class="form">
            <h1>You don't belong to any companies</h1>
            <button data-toggle="modal" data-target="#create-company-modal" class="button button-block" /><text>Create your own company</text>
        </div>
    }

    <div id="create-company-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-body">
                @Html.Partial("_CreateCompany", new CompanyModel())
            </div>
        </div>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="~/Plugins/sign-up-login-form/js/index.js"></script>



</body>
</html>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Custom/index.js")
}