@model IEnumerable<Web.Models.CompanyModel>
@using Web.Models;

@{
    ViewBag.Title = "Index";
}

<style>
    .kettering {
        background-color: yellow;
    }
</style>

<h2>Your companies</h2> <a href="#" data-toggle="modal" data-target="#create-company-modal" class="btn btn-primary glyphicon glyphicon-plus"></a>

@if (Model.Any())
{
    <div class="row">
        @foreach (var item in Model)
        {
        <div id="@item.CompanyId" class="col-md-6 card card-block table-row @if (item.IsKettering) { <text>kettering</text> }">
            <h4 class="card-title">@item.Name</h4>
            <p class="card-text">@item.Description</p>
            <p class="card-text">@item.Address</p>
            <p class="card-text">@item.Phone</p>
        </div>
        }
    </div>
}
else
{
    <div>You don't belong to any companies yet</div>
}


<div id="create-company-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Company</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("_CreateCompany", new CompanyModel())
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Custom/index.js")
}