@model Web.Models.KetteringModel

@{
    ViewBag.Title = "Kettering";
}
@using Web.Models

@*<div>
        <h4>KetteringModel</h4> <a href="#" data-toggle="modal" data-target="#add-menu-modal" class="btn btn-primary glyphicon glyphicon-plus"></a>

        <form action="/Home/AddKetteringUser" method="post">
            <div class="form-horizontal">
                <input type="hidden" name="KetteringId" value="@Model.KetteringId" />

                <div class="form-group">
                    <label for="Username">Username</label>
                    <div class="col-md-10">
                        <input type="text" name="Username" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>

        <hr />


        @Html.Partial("_Menus", MenuModel.GetMenusForKettering(Model.KetteringId))
    </div>*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sign-Up/Login Form</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="~/Plugins/sign-up-login-form/css/normalize.css">

    <link rel="stylesheet" href="~/Plugins/sign-up-login-form/css/style.css">
    <style>
        input {
            max-width: 100%;
        }

        .form {
            top: 50%;
        }

        .white {
            color: white;
        }

        span {
            padding: 0;
            margin: 0;
        }

        * {
            font-family: Titillium;
        }

        .info {
            margin-top: 5%;
            margin-bottom: 5%;
            font-size: 125%;
        }

        .title {
            margin-top: 15%;
            margin-bottom: 0;
        }
    </style>


</head>
<body>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="form ribbon-content">
                <div class="ribbon base"><span>Kettering Company</span></div>
                <div class="white">
                    <h1 class="title">@Model.Name</h1>
                    <div class="info">
                        <span>Address:&nbsp;</span><span>@Model.Address</span><br />
                        <span>Phone:&nbsp;</span><span>@Model.Phone</span><br />
                        <span>Description:&nbsp;</span><span>@Model.Description</span><br />
                    </div>
                </div>
            </div>

            <div class="form">
                <h1>Add an employee</h1>

                <form action="/Home/AddKetteringUser" method="post">

                    <input type="hidden" name="KetteringId" value="@Model.KetteringId" />

                    <div class="field-wrap">
                        <label>
                            Username
                        </label>
                        <input type="text" required autocomplete="off" name="Username" />
                    </div>

                    <button class="button button-block" />Add</button>
                </form>
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            @Html.Partial("_Menus", MenuModel.GetMenusForKettering(Model.KetteringId))
        </div>
    </div>



    <div id="add-menu-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
                    @Html.Partial("_AddMenu", new MenuModel((int?)Model.KetteringId))

        </div>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="~/Plugins/sign-up-login-form/js/index.js"></script>



</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Custom/menus.js")
}
