@model Web.Models.MealModel

@{
    ViewBag.Title = "Meal";
}

@using Web.Models
@using Core.Logic

<h2>Meal</h2>

<div>
    <h4>MealModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitOfMeasure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitOfMeasure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MealCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MealCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>

    @Html.Partial("_PlaceOrder", new OrderModel(Model.MealId, UserLogic.GetCompanyId((int)Session["userId"])))
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @Scripts.Render("~/Scripts/Custom/placeOrder.js")
}

