@model Web.Models.MenuModel
@using Web.Models

@{
    ViewBag.Title = "Menu";
}

<h2>@Html.DisplayFor(model => model.Name)</h2> <a href="#" data-toggle="modal" data-target="#add-meal-modal" class="btn btn-primary glyphicon glyphicon-plus"></a>


@foreach (var item in Model.Meals)
{
    <div class="mealCard" id="@item.MealId">
        <div>
            @Html.DisplayFor(modelItem => item.Title)
        </div>

        <div>
            @Html.DisplayFor(modelItem => item.Description)
        </div>

        <img class="img-responsive" src="@Url.Action("getImg", "Home", new { img = item.DisplayImage })" />
    </div>
}

<div id="add-meal-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Menu</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("_AddMeal", new MealModel(Model.MenuId))
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Custom/addMeal.js")
    @Scripts.Render("~/Scripts/Custom/meal.js")
}



