@model IEnumerable<Web.Models.OrderModel>

@{
    ViewBag.Title = "Orders";
}

@using Core.Logic;

@*<h2>Orders</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MealTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MealTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>

        @if (item.CompanyUserId == UserLogic.GetCompanyUserId((int)Session["userId"], item.CompanyId))
        {
            <td>
                @Html.ActionLink("Delete", "DeleteOrder", new { orderId = item.OrderId, companyUserId = item.CompanyUserId })
            </td>
        }
    </tr>
}

</table>*@


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sign-Up/Login Form</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="~/Plugins/sign-up-login-form/css/normalize.css">

    <link rel="stylesheet" href="~/Plugins/sign-up-login-form/css/style.css">
    <style>
        input {
            max-width: 100%;
        }

        .form {
            top: 50%;
        }

        .white {
            color: white;
        }

        span {
            padding: 0;
            margin: 0;
        }

        * {
            font-family: Titillium;
        }

        .info {
            margin-top: 5%;
            margin-bottom: 5%;
            font-size: 125%;
        }

        .title {
            margin-top: 15%;
            margin-bottom: 0;
        }
    </style>


</head>
<body>
    <div class="white">
        <div class="form">
            <h1>Your orders</h1>
        </div>
        @foreach (var item in Model)
        {
            <div class="form">
                <div class="info text-center">
                    <span>Meal:&nbsp;</span><span>@item.MealTitle</span><br />
                    <span>Deliver to:&nbsp;</span><span>@item.CompanyName</span><br />
                    <span>Date:&nbsp;</span><span>@item.Date</span><br />
                    <span>Note:&nbsp;</span><span>@item.Note</span><br />
                    <span>Price:&nbsp;</span><span>@item.Price</span><br />
                </div>
            </div>
        }
    </div>

    @*<div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="form ribbon-content">
                <div class="ribbon base"><span>Kettering Company</span></div>
                <div class="white">
                    <h1 class="title">@Model.Name</h1>
                    <div class="info">
                        <span>Address:&nbsp;</span><span>@Model.Address</span><br />
                        <span>Phone:&nbsp;</span><span>@Model.Phone</span><br />
                        <span>Description:&nbsp;</span><span>@Model.Description</span><br />
                    </div>
                </div>
                <button class="button button-block" data-toggle="modal" data-target="#edit-kettering-modal">Edit company info</button>
                <br />
                <button class="button button-block delete" id="@Model.KetteringId">Delete company</button>
            </div>

            <div class="form">
                <h1>Add an employee</h1>

                <form action="/Home/AddKetteringUser" method="post">

                    <input type="hidden" name="KetteringId" value="@Model.KetteringId" />

                    <div class="field-wrap">
                        <label>
                            Username
                        </label>
                        <input type="text" required autocomplete="off" name="Username" />
                    </div>

                    <button class="button button-block">Add</button>
                </form>
            </div>
            <div>
                <div class="form white">
                    <h1>Company members</h1>
                    <hr />
                    @foreach (var item in Model.Members)
                    {
                        <h3>@(item.FirstName + " " + item.MiddleName + " " + item.LastName)</h3>
                        <div class="info">
                            <span>Email:&nbsp;</span><span>@item.Email</span><br />
                            <span>Username:&nbsp;</span><span>@item.Username</span><br />
                            <span>Phone:&nbsp;</span><span>@item.Phone</span><br />
                        </div>
                        <button class="button button-block kick-out" id="@UserLogic.GetKetteringUserId(item.UserId, Model.KetteringId)">Kick out</button>
                        <hr />
                    }
                </div>

            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            @Html.Partial("_Menus", MenuModel.GetMenusForKettering(Model.KetteringId))
        </div>
    </div>



    <div id="add-menu-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            @Html.Partial("_AddMenu", new MenuModel((int?)Model.KetteringId))
        </div>
    </div>

    <div id="edit-kettering-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            @Html.Partial("_EditKettering", new KetteringModel(Model.KetteringId))
        </div>
    </div>*@

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="~/Plugins/sign-up-login-form/js/index.js"></script>



</body>
</html>