<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/ribbon.css")
    @Scripts.Render("~/bundles/modernizr")
    @using Core.Logic
    @using Web.Models

    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f; for (s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace", "Ajax"]; i.length;) r("track" + i.pop()); return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t["_" + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: "c3420c08-6586-456f-9276-7e2107383615"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CraftedFood", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    @if (Request.Url.AbsolutePath == "/Home/Index" || Request.Url.AbsolutePath == "/")
                    {
                        <li><a href="#" data-toggle="modal" data-target="#create-company-modal" class="">Add company</a></li>
                    }
                    else if (Request.Url.AbsolutePath.Contains("/Home/Kettering"))
                    {
                        <li><a href="#" data-toggle="modal" data-target="#add-menu-modal" class="">Add menu</a></li>
                    }
                    else if (Request.Url.AbsolutePath.Contains("/Home/Menu"))
                    {
                        <li><a href="#" data-toggle="modal" data-target="#add-meal-modal" class="">Add meal</a></li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["userId"] == null)
                    {
                        @*<li><a href="/Home/SignUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>*@
                        <li><a href="/Home/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    }
                    else
                    {
                        <li>
                            <form action="/Home/Search" method="get">
                                <input type="text" name="Term" />
                                <input type="submit" style="display: none;" />
                            </form>
                        </li>
                        <li><a href="" data-toggle="modal" data-target="#edit-profile-modal"><span class="glyphicon glyphicon-user"></span>@(UserLogic.GetUserById((int)Session["userId"]).FirstName + " " + UserLogic.GetUserById((int)Session["userId"]).LastName)</a></li>
                        <li><a href="/Home/LogOut"><span class=""></span>Log Out</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        </footer>
    </div>

    <div id="edit-profile-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-body">
                @if (Session["userId"] != null)
                {
                    @Html.Partial("_EditProfile", new UserModel((int)Session["userId"]))
                }
            </div>

        </div>
    </div>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="~/Plugins/sign-up-login-form/js/index.js"></script>
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
